

.roboLeaderboard{
    position: absolute;
    height: 10rem;
    top: -10rem;
    left: 50%;
    translate: -50%;
}

.leaderboardContainer {
    top: 3rem;
    position: relative;
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 20px;
    border-radius: 8px;
    background: radial-gradient(circle at top, cyan, aqua, #012229);
}

.leaderboardTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: "Josefin Slab", serif;
color: #043b41;}

.leaderboardTable {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leaderboardTable>thead>tr {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.leaderboardTable>thead>tr:hover {
    background: transparent ;
}

.leaderboardTable>thead>tr>th {
    display: flex;
    color: rgb(7, 87, 87);
}

.leaderboardTable>thead {
    display: flex;
    background: aqua;
    border-radius: 1rem;
    box-shadow: inset 0 0 1rem rgb(100, 190, 204);
}



.leaderboardTable th,
.leaderboardTable td {
    padding: 12px;
    text-align: left;
    font-family: "Josefin sans", serif;
}

.leaderboardTable th {
    color: var(--aquamarine);
}



.leaderboardTable tr {
    width: 100%;
}

.leaderboardTable tr:hover {
    background-color: rgb(29, 113, 113);
    color: aqua;
}

.leaderboardTable tr {
    min-width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(9, 71, 71);

}

@media screen and (max-width: 576px) {
    tr {
        max-width: 70vw !important;
        font-size: 1rem;
        display: flex;
    }

    td {
        overflow: hidden;
    }
}