.loginContainer {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(30deg, rgb(11, 63, 96), rgb(124, 223, 223));
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
  max-width: 20rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}

.loginContainer img {
  position: absolute;
  z-index: -1;
  left: -15rem;
}

.loginTitle {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(11, 56, 83);
  font-family: "Josefin Slab", sans-serif;
  font-size: 1.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
  color: rgb(110, 220, 220);
  font-family: "Josefin Slab", serif;
}

.formInput {
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 0.1rem solid rgb(56, 208, 208);

  background: transparent;
}

.formInput:focus {
  background-color: transparent;
  border: 0.1rem solid cyan;
  outline: none;
}

.formInput:-internal-autofill-selected {
  background: transparent !important;
}

.loginButton {
  padding: 10px;
  background-color: var(--brilliant-rose);
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(45deg, rgb(11, 135, 173), rgb(2, 60, 81));
  border-radius: 1rem;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-block-end: 1.5rem;
  margin-block-start: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Slab", sans-serif;

}

.sp1 {
  color: #75c0c7;
  padding-right: 0.2rem;
}

.loginButton:hover {
  background-color: var(--aquamarine);
}

.success {
  color: rgb(161, 246, 213);
}

.error {
  color: rgb(255, 184, 184);
}

.success,
.error {
  font-family: "Josefin Slab", serif;
}

.robo {
  max-height: 20rem;
}

.loginButton:hover {
  background: linear-gradient(45deg, rgb(2, 60, 81), rgb(11, 135, 173));
  box-shadow: 0 0 1rem aqua;
}

.sp2 {
  color: aqua;
}

.sp1,
.sp2 {
  font-family: "Josefin Slab", sans-serif;
  font-size: 1rem;
}

.loginContainer>button {
  background: transparent !important;
  border: none;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .loginContainer img {
    left: -12rem;
  }

}

@media screen and (max-width:576px) {
  .loginContainer {
    margin-inline: 3rem;
  }

  .loginContainer img {
    left: -5rem;
    height: 10rem;
  }
}

@media screen and (max-width:460px) {

  .loginContainer img {
    top: -7rem;
    left: 50%;
    translate: -50%;
  }
}