/* Font import (Add this to your global CSS file or in your HTML head) */

/* Apply global styles or to a specific container */
:root {
  --amethyst: #9b5de5ff;
  --brilliant-rose: #f15bb5ff;
  --maize: #fee440ff;
  --deep-sky-blue: #00bbf9ff;
  --aquamarine: #00f5d4ff;
  --gradient-top: linear-gradient(0deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --gradient-right: linear-gradient(90deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --gradient-bottom: linear-gradient(180deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --gradient-left: linear-gradient(270deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --gradient-top-right: linear-gradient(45deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --gradient-bottom-right: linear-gradient(135deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --gradient-top-left: linear-gradient(225deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --gradient-bottom-left: linear-gradient(315deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --gradient-radial: radial-gradient(#9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
  --font-family: 'Josefin sans', sans-serif;
}

*, h1, h2, h3 {
  font-family: "Josefin sans", serif;
}

.loginContainer {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
  border: 0.1rem solid #000;
}

.loginTitle {
  text-align: center;
  margin-bottom: 20px;
  color: var(--amethyst);
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--maize);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.loginButton {
  padding: 10px;
  background-color: var(--brilliant-rose);
  color: white;
  border: none;
  border-radius: 0.5rem;

  border-radius: 1rem;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-block-end: 1.5rem;
  margin-block-start: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton:hover {
  background-color: var(--aquamarine);
}

.success {
  color: rgb(52, 145, 9);
}

.error {
  color: rgb(156, 17, 17);
}