* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body>div {
    width: 100%;
}

.main {
    min-height: 100vh;
    width: 70vw;
    margin: 5rem;
}

.main>div {
    flex-grow: 1;
}

.input {
    -webkit-appearance: none;
    /* Remove default styles */
    appearance: none;
    background: rgb(1, 29, 34);
    /* Track color */
    width: 100%;
    height: 8px;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

/* Style the track for WebKit browsers */
.input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: rgb(1, 29, 34);
    /* Track color */
    border-radius: 5px;
}

.headers {
    display: flex;
    flex-direction: column-reverse;
}

.headers img {
    max-height: 10rem;
}

/* Style the thumb for WebKit browsers */
.input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #146d73;
    /* Thumb color */
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    bottom: 50%;
    z-index: 1;
}

/* Style the track for Firefox */
.input::-moz-range-track {
    width: 100%;
    height: 8px;
    background: rgb(1, 29, 34);
    /* Track color */
    border-radius: 5px;
}


/* Style the thumb for Firefox */
.input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgb(1, 29, 34);
    /* Thumb color */
    cursor: pointer;
    border-radius: 50%;
}

/* Style the track for other browsers (IE/Edge) */
.input::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent;
    /* Required for IE */
    border-color: transparent;
    color: transparent;
}

/* Style the fill for IE */
.input::-ms-fill-lower {
    background: rgb(1, 29, 34);
    /* Track color */
    border-radius: 5px;
}

.input::-ms-fill-upper {
    background: rgb(1, 29, 34);
    /* Track color */
    border-radius: 5px;
}

/* Style the thumb for IE */
.input::-ms-thumb {
    width: 20px;
    height: 20px;
    background: rgb(1, 29, 34);
    /* Thumb color */
    cursor: pointer;
    border-radius: 50%;
}

/* styling the parent div for proper positioning */
.noOfQuestions {
    display: flex;
    flex-direction: row;
    min-width: 20rem;
    align-items: center;
    justify-content: center;
}

/* making the most out of form */

.form {
    display: flex;
    flex-direction: row;
    background: rgb(4, 135, 135);
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.form .label {
    color: #000;
}




.label {
    color: #fff;
    padding-block: 3rem;
    font-family: "Josefin Slab", serif;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center !important;

}

.amountValue {
    display: flex;
    font-family: "Josefin Sans", serif;
    color: cyan;
    box-shadow: inset 0 0 1rem aqua;
    font-size: 3rem;
    padding: 1rem;
    background: rgb(0, 47, 47);
    border-radius: 1rem;
    align-self: center;
    justify-content: center;
    aspect-ratio: 1;
    max-width: 5rem;
    min-width: 5rem;
}

.category {
    background: radial-gradient(40rem circle at 0, rgb(0, 183, 183), rgb(18, 159, 159), rgb(154, 250, 255), rgb(1, 29, 34));
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding-block: 3rem;
    max-width: 100vw;
    padding: 1rem;
}

.category:nth-of-type(1) {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 0.2rem aqua solid;
}



.grid {
    display: grid;
    width: 100%;
    grid-template-rows: 10rem 10rem 10rem;
    grid-template-columns: 10rem;
    gap: 1rem;
    padding-block: 3rem;
    padding-inline-end: 3rem;
    place-content: center;

}

.gridItem {
    aspect-ratio: 1;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    background: rgb(1, 23, 36);
    position: relative;
    transition: 0.2s scale ease, 0.3s ease transform;
    font-family: "Josefin Sans", serif;
    border: solid 0.1rem transparent;
    color: rgb(55, 172, 172);
    overflow: hidden;
    box-shadow: inset 0 0 1rem rgb(3, 57, 57);
}

.gridItem:hover {
    border: solid 0.1rem aqua;
    background: aqua;
    box-shadow: 0 0 2rem cyan;
    color: #04282c;
}



.span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.1rem;
}


.gridItem img {
    display: flex;
    position: absolute;
    max-height: 6rem;
    bottom: -1rem;
    left: 50%;
    translate: -50%;
}


.span {
    z-index: 1;
    display: flex;
    padding-block-start: 1rem;
}

.difficulty {
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: radial-gradient(40rem circle at bottom, rgb(0, 183, 183), rgb(18, 159, 159), rgb(154, 250, 255), rgb(1, 29, 34));

}

.gridItem2 {
    display: flex;
    font-family: "Josefin Sans", serif;

}

.gridItem2 {
    display: flex;
    aspect-ratio: 2;
    position: relative;
    border: 0.1rem solid rgb(6, 97, 97);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    color: rgb(6, 97, 97);
}

.gridItem2 img {
    max-height: 2rem;
    right: 1rem;
}

.gridItem2:hover {
    background: cyan;
    cursor: pointer;
    box-shadow: inset 0 0 1rem rgb(0, 183, 255);
    border-color: cyan;
}



img {
    animation: 5s infinite hover linear;
}

@keyframes hover {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(0.2rem);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-0.2rem);
    }

    100% {
        transform: translateY(0);
    }
}


.subCategories {
    background: aqua;
}

.subCategories .label {
    color: rgb(8, 41, 51);
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-inline: 3rem;
    padding-bottom: 3rem;
}

.gridItem3{
    display: flex;
    /* aspect-ratio: 2; */
    border: 0.1rem solid rgb(8, 41, 51);
    border-radius: 1rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Josefin Sans", serif;
    transition: 0.2s ease;
}

.gridItem3:hover,
.active {
    background: #01111a;
    box-shadow: inset 0 0 2rem rgb(0, 255, 255);
    border-color: aqua;
    color: aqua;
}

.button {
    background: rgb(4, 135, 135);
    border-end-end-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
}

.buttonLink {
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: "Josefin Sans", serif;
    outline: none;
    color: cyan;
    box-shadow: inset 0 0 1rem aqua;
    font-size: 1.5rem;
    padding: 1rem;
    background: rgb(0, 47, 47);
    transition: 0.2s all ease;
}


.buttonLink:focus {
    border: 2px solif #ffffff
}

.buttonLink:hover {
    scale: 0.96;
    color: #fff;
    background: cyan;
    box-shadow: 0 0 2rem cyan;
}

@media screen and (max-width: 576px) {
    .form {
        display: flex;
        flex-direction: column;
    }

    input {
     max-width: 80%;
    }


    /* Style the thumb for WebKit browsers */

    /* Style the track for Firefox */
    .input::-moz-range-track {
     max-width: 80%;

    }


    /* Style the thumb for Firefox */

    /* Style the track for other browsers (IE/Edge) */
    .input::-ms-track {
     max-width: 80%;
    }



    .category {
        grid-template-rows: 0.2fr 1fr;
        grid-template-columns: 1fr;
        max-height: fit-content;
    }

    .grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        place-items: center;
        place-content: center;
        padding: 0;
        padding-block: 2rem;
        max-width: 100vw;
    }

    .difficulty {
        max-width: 100vw;
        padding-inline: 1rem;
    }

    .gridItem {
        max-width: 10rem;
        min-width: 10rem;
    }



    .span2 {
        width: 6.5rem;
        padding: 1rem;
    }

    .gridItem2 img {
        margin-right: 1rem;
        width: 2.5rem;
    }

    .grid3 {
        display: flex;
        flex-direction: column;
    }

    .subCategories {
        /* margin-inline: 2rem; */
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin: 3rem; */
    }

    .main h2 {
        font-size: 2rem;
    }

    .noOfQuestions {
        display: flex;
        flex-direction: column;
        padding-block-end: 2rem;
        align-items: center;
        justify-content: center;
        padding-block: 1rem;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}