.alert {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    background: #00F5D4;
    border: solid 1px #000;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
    padding: 2rem;
    border-radius: 1rem;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    padding-block-start: 1rem;
}   

.btnSecondary {
    background: #000;
    color: #00F5D4;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    margin: 0 0.5rem;
    border-radius: 0.7rem;
    border: #000 1px solid;

}

.btnSecondary:hover {
    background: #00F5D4;
    color: #000;
}

.btnPrimary {
    border-radius: 0.7rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    border: #000 1px solid;
    margin: 0 0.5rem;
}

.btnPrimary:hover {
    background: #000;
    color: #00F5D4;
}