@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
}

a {
    text-decoration: none;
    color: #000;
}

*{
    scroll-behavior: smooth !important;
}
.invert1{
    filter:hue-rotate(0deg);
}
.invert2{
    filter:hue-rotate(30deg);
}
.invert3{
    filter:hue-rotate(60deg);
}
.invert4{
    filter:hue-rotate(90deg);
}
.invert5{
    filter:hue-rotate(120deg);
}
.invert6{
    filter:hue-rotate(150deg);
}


@media screen and (max-width: 576px) {
    h1{
        font-size: 2rem !important;
    }
    tr{
        max-width: 70vw !important;
        font-size: 1rem;
        display: flex;
    }
}