@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;
}

*{
    scroll-behavior: smooth !important;
}